<settings>
  <category label="Geral">
    <setting id="save_location" type="folder" label="Selecione um local para download." default=""/>
    <setting id="use_thumb" type="bool" label="Usar miniaturas como fanart" default="false" />
    <setting id="logo-folderPath" type="folder" label="Selecione o diretório para o logo." default=""/>
    <setting id="add_playlist" type="bool" label="Adicionar itens com múltiplos links como listas de reprodução" default="true"/>
    <setting id="ask_playlist_items" type="bool" label="Perguntar itens da lista de reprodução para escolher no diálogo" default="true" />
    <setting id="debug" type="bool" label="Ativar depuração do add-on" default="false"/>
    <setting id="1080pquality" type="bool" label="Reproduzir vídeo 1080p sob demanda se disponível (Não ao vivo)" default=""/>
    <setting id="genesisorpulsar" type="enum" values="Genesis|Pulsar" label="Reproduzir IMDBid com:" default="Genesis"/>
    <setting id="donotshowbychannels" type="bool" label="Não mostrar itens pelo nome do canal" default="false"/>
    <setting id="parentalblockedpin" type="text" label="PIN de bloqueio parental" option="hidden" default=""/>
    <setting id="parentalblocked" type="bool" label="Bloqueio parental aplicado?" default="false" enable="false"/>
  </category>

  <category label="Adicionar Fonte">
    <setting id="choose_source" type="enum" values="Escolher Arquivo|Inserir URL" label="Escolher tipo de fonte" default=""/>
    <setting id="new_file_source" type="file" source="files" label="Escolher Arquivo" default="" visible="eq(-1,0)"/>
    <setting id="new_url_source" type="text" label="Inserir URL" default="" visible="eq(-2,1)"/>
    <setting type="sep" />
    <setting type="action" label="Adicionar Fonte" option="close" action="RunPlugin(plugin://plugin.video.live.streamspro/?mode=7)" />
    <setting type="sep" />
    <setting id="searchotherplugins" type="bool" label="Procurar outros plugins" default="false"/>
  </category>

  <category label="Banco de Dados .xml">
    <setting id="browse_xml_database" type="bool" label="Navegar e reproduzir do banco de dados .xml" default="false"/>
    <setting type="action" label="Adicionar fontes do banco de dados .xml" option="close" action="Container.Update(plugin://plugin.video.live.streamspro/?mode=14)" />
  </category>
  
  <category label="Arquivos da Comunidade">
    <setting id="browse_community" type="bool" label="Navegar e reproduzir dos arquivos da comunidade" default="false"/>
    <setting type="action" label="Adicionar URL do arquivo da comunidade como fonte" option="close" action="Container.Update(plugin://plugin.video.live.streamspro/?mode=10)" />
  </category>
</settings>
